body {
  color: var(--text-color);
  background-color: var(--surface-a);
  font-family: var(--font-family);
}

.pulse {
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}

.extra-enter {
  opacity: 0;
}
.extra-enter-active {
  opacity: 1;
  transition: opacity 150ms ease-out 150ms;
}
.extra-exit {
  opacity: 1;
}
.extra-exit-active {
  opacity: 0;
  transition: opacity 200ms, transform 300ms;
}
